.detailsAnimal{
  display: grid;
}

div.detailsAnimal img.detailsImg{
  width: 20rem;
}

a.button{
  color:rgb(22, 24, 27);
  text-decoration: none;
  position: absolute;
  top:7rem;
  right:8.5rem;
}

button{
  cursor: pointer;
}

.hungerState.full{
  color:rgb(86, 136, 86);
}

.hungerState.hungry{
  color:rgb(173, 62, 62);
}
