nav{
  padding:3rem;
  display: flex;
  gap: 2rem;
}

a{
  text-decoration:none;
  font-size: 1.1rem;
}

a:visited{
  color:black;
}

footer{
  text-align: center;
  background-color: rgb(44, 49, 49);
  color: white;
  padding:2rem;
}

main{
  min-height: 75vh;
  width:100vw;
  box-sizing: border-box;
  padding: 2rem 8rem;
}